package.json
.umi
.umi-production
.umi-test
/dist
/img
.dockerignore
.DS_Store
.eslintignore
*.svg
*.png
*.webp
*.jpg
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/build
