.input {
  width: 120px;
}

.nominator, .denominator {
  z-index: 2;
  width: 60px;
}

.fraction {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 120px;
}

.nominator {
  position: absolute;
  top: 12px;
  left: 0;
}

.line {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 1;
  font-size: 120px;
  transform: rotate(-60deg);
}

.denominator {
  position: absolute;
  top: 68px;
  left: 80px;
}
